@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <strong>Welcome to the Olympic Games App</strong>
    <img src="~/Content/Images/Olympic_rings.png" id="olympicImage" />
</div>
<div class="row">
    <div class="col-md-3">
        <img src="~/Content/Images/image-cycling.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/Content/Images/image-tennis.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/Content/Images/images.jpg" />
    </div>
    <div class="col-md-3">
        <img src="~/Content/Images/imagesGym.jpg" />
    </div>
</div>
<link href="~/Content/Index.css" rel="stylesheet" />