@{
    Layout = "~/Views/Shared/CustomLayout.cshtml";
}
<h3 style="text-align: center; color:lightgreen; font-weight:600"> Explore the Olympic Games </h3>
<img src="~/Content/Images/160820_top-moments_0.jpg" class="stretch" />